@import './common.css';

.developer-info {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.developer-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(https://images.velog.io/images/seonja/post/dddbf162-3804-425e-9c88-becd55c454e0/1575473349559.jpg);
}

.grey-background {
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  background-color: #d3d3d3;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  width: 80vw;
  min-width: 400px;
}
.grid-section {
  display: grid;
  grid-template-areas: 'summary image';
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.summary {
  grid-area: summary;
}
.img-area {
  grid-area: image;
  display: flex;
  justify-content: center;
}
.tech-area {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}
.tech-img-area {
  height: 5vh;
  display: flex;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.btn-common {
  width: 100%;
  max-width: 200px;
  color: white;
  background-color: #549657;
  box-shadow: 0px 2px 5px 1px darkgrey;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
@media screen and (max-width: 960px) {
  .grid-section {
    grid-template-areas:
      'image'
      'summary';
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: repeat(2, minmax(100px, 25vh));
  }
  .content-wrapper {
    width: 50vw;
  }
}
